.selectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;

  .expenseType {
    width: fit-content;
    padding: 3px 6px;
    border-radius: 3px;
  }

  .select {
    width: 100%;
    color: white;
    height: 40px;
    background: #2e2d34;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .withOpacity {
      color: #ffffff30;
    }

    .svg {
      transition-duration: 0.3s;
      transform: rotate(0deg);
    }

    .active {
      transition-duration: 0.3s;
      transform: rotate(-180deg);
    }
  }

  .selectActive {
    @extend .select;
    border-radius: 6px 6px 0px 0px;
  }

  .select:hover {
    transition-duration: 0.3s;
    filter: brightness(1.1);
  }

  .options {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0 0 10px 10px;

    .option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 40px;
      font-size: 14px;
      color: white;
      text-decoration: none;
      background: #2e2d34;
      padding: 10px 1rem;
      font-weight: normal;
      border-bottom: 1px solid #ffffff10;
    }

    .option:last-child {
      border: none;
    }

    .option:hover {
      transition-duration: 0.3s;
      font-weight: bold;
    }
  }

  .options::-webkit-scrollbar {
    width: 2px;
    background: #251f2b;
  }

  .options::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #ffffff25;
  }
}
