.reportsList {
  background: #1e1f25;
  width: 95%;
  margin: 0 auto;
  color: white;
  border-radius: 30px 30px 0 0;
  padding: 2rem;
  max-width: 1350px;

  h4 {
    font-weight: bold;
    font-size: 22px;
  }

  .reports {
    margin-top: 2rem;
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}
