@import '../../styles/colors.scss';

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.6rem;
  background-color: $orangeDark;
  border-radius: 8px;
  color: white;
}

.button {
  cursor: pointer;
  padding: 0.6rem;
  background-color: $orangeDark;
  color: white;
  border-radius: 8px;
}

.button:hover {
  transition-duration: 0.3s;
  background-color: $orangeDark;
}
