.expensesContainer {
  display: flex;
  flex-direction: column;

  .subtitle {
    width: fit-content;
    background: #ffffff10;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .titlesAndExpensesContainer {
    border: 1px solid #ffffff10;
    display: flex;
    flex-direction: column;

    .titlesContainer {
      display: flex;
      background-color: #ffffff10;

      .title {
        min-width: 200px;
        display: flex;
        align-items: center;
        border: 1px solid white;
        height: 50px;
        padding-left: 16px;
      }

      .title:nth-child(1) {
        width: 15%;
      }

      .title:nth-child(2) {
        width: 20%;
      }

      .title:nth-child(3) {
        width: 20%;
      }

      .title:nth-child(4) {
        width: 20%;
      }

      .title:nth-child(5) {
        width: 25%;
      }
    }

    .expensesList {
      border-radius: 10px;
      position: relative;
      height: 400px;
      background-color: #2a2f39;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-y: scroll;

      .notFound {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 22px;
        font-weight: 400;
      }
    }

    .expensesList::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      background: #251f2b;
    }

    .expensesList::-webkit-scrollbar-thumb {
      border-radius: 20px;
      border: 3px solid white;
    }
  }
}

.scrollBtn {
  width: fit-content;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

@media (max-width: 1165px) {
  .scrollBtn {
    display: none !important;
  }



  .expensesContainer {
    .titlesAndExpensesContainer {
      .titlesContainer {
        overflow-x: scroll;
        border-bottom: none;
        border: none;
        border-top: 1px solid white;

        .title {
          border-bottom: none;
        }
      }
    }
  }

  .titlesContainer::-webkit-scrollbar,
  .expensesList::-webkit-scrollbar {
    height: 2px;
    background: #251f2b;
  }

  .titlesContainer::-webkit-scrollbar-thumb,
  .expensesList::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid white;
  }
}
