.switch {
  user-select: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px 8px 0 0;
  background-color: #2a2f39;
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: none;
  color: white;

  &.isActive {
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid white;
    border-bottom: none;
  }
}
