@import "../styles/colors.scss";
@import "../styles/animations.scss";

.pageContainer {
  background: $blueDark;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 3rem 5rem;
  padding-bottom: 0;

  .topContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    canvas {
      width: 300px !important;
      height: 100% !important;
    }

    .flex {
      display: flex;
      gap: 2rem;
    }
  }

  .welcomeContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    small {
      a {
        cursor: pointer;
        margin-left: 5px;
        padding: 0.3rem;
        background-color: #ffffff25;
        border-radius: 3px;
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        transition: 0.3s;
        text-decoration: underline;
      }
    }

    .welcome {
      font-size: 48px;
    }

    .expensesAmountContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .subtitle {
        font-weight: 400;
      }

      .expensesAmount {
        margin-top: 8px;
        animation: fade-in 0.4s ease-in-out forwards;
        background: white;
        width: fit-content;
        position: relative;
        border-radius: 6px;

        h1 {
          user-select: none;
          font-size: 48px;
          color: $blueDark;
          font-weight: bold;
          padding: 1rem;
        }

        .percentage {
          user-select: none;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -0.5rem;
          margin-right: -1.5rem;
          padding: 0.3rem;
          border-radius: 3px;
          font-weight: bold;
        }
      }
    }
  }

  .button {
    width: fit-content;
    padding: 1rem;
  }

  .weekContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .week {
    justify-content: space-between;
    display: flex;
    gap: 10px;

    .loaderContainer {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nameOfDay {
      background: #ffffff15;
      width: 200px;
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .buttons {
    display: flex;
    align-self: flex-end;
    gap: 1rem;

    .button {
      background: white;
      border-radius: 3px;
      padding: 0.3rem;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 15px;
        height: 15px;
      }
    }

    .button:last-child {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}

@media (max-width: 1165px) {
  .pageContainer {
    padding: 0;
    overflow: hidden;

    .topContainer {
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      canvas {
        width: 100% !important;
        // max-width: 500px;
      }

      .flex {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
