$green: #2a2f39;
$greenDark: #016612;

.layout {
  background-color: #17161e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
