.sidebarButton {
  padding: 12px 10px;
  border-radius: 8px;
  transition-duration: 0.3s;
  text-decoration: none;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border: 1px solid #f6f6f6;
  width: 100%;
  cursor: pointer;

  .iconContainer {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }

  span {
    font-size: 16px;
    transition: 0.3s;
  }

  &:hover {
    background-color: #f6f6f6;
  }
}
